
.App {
    min-height : 100vh;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 10px 10px;
}

header {
    min-height: 70px;
    display: flex;
    align-items: left;   
    justify-content: space-between; 
    padding: 15px;
    margin-bottom: 70px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: rgba(22, 22, 22, 0.05) 2px 2px 30px 20px;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img{
    max-width: 40px;
    cursor: pointer;
  }
.headerImg {
    width:50px;
    height:50px;
}

.addTask {
    min-height: 70px;
    max-width: 500px;
    padding: 20px 15px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: rgba(22, 22, 22, 0.05) 2px 2px 30px 20px;
}

.addTask form{
    display: flex;
    gap: 7px;
  }

  .addTask form input{
    flex-grow: 1;
    padding: 5px 5px;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    font-size: 18px;
  }
  .addTask form input:focus{
    outline: 0.5px solid #eaeaea;
  }

  .addTask form button{
    background-color: #03ba5c;
    color: #FFFFFF;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
  }

  .addTask form button:hover{
    background-color: #03b056;
  }
.showTask{
    margin:20px auto;
    padding: 20px 15px;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: rgba(22, 22, 22, 0.05) 2px 2px 30px 20px;
}

