* {
    margin : 0px;
    padding : 0px;
    box-sizing : border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}



:root{
    --box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  }